In [5]:

import csv
import pandas as pd
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import plotly.express as px
from datetime import date
from collections import Counter

In [28]:
# Read CSV file into DataFrame sss (results from the dba sql server survey)

sss = pd.read_csv('Data/sqlserver_survey_raw.csv')

In [29]:
sss.head(1)

,Timestamp,"What’s your total salary in US dollars, ANNUAL BEFORE TAXES?",Your country,Zipcode,Primary database,Years of experience with DB,Other databases,Job type,Job title,Do you manage other staff?,...,Is your college degree computer-related?,Do you hold industry certifications?,How many hours do you work per week?,Number of days do you work from home?,Employer sector,Are you looking for another job right now?,What are your career plans for the year 2018?,To which gender do you most identify?,Other job duties,What kinds of work do you do?
0,12/10/2017 12:44,115000,United States,84095,Microsoft SQL Server,15,"MySQL/MariaDB, Elasticsearch",Full time employee,DBA (General - splits time evenly between writ...,No,...,No,"Yes, and they're currently valid",40,"None, or less than 1 day per week",Private business,No,"Stay with the same employer, same role",Male,"DBA (Development Focus - tunes queries, indexe...","Build scripts & automation tools, Manual tasks..."

In [39]:
#  Rename Column Names 

sss.rename(columns={'Timestamp':'TStamp', 'What’s your total salary in US dollars, ANNUAL BEFORE TAXES?':'Salary', 'Your country':'Country', 'Primary database':'Primary_DB', 'Years of experience with DB':'Pdb_YearsExp', 'Other databases':'Other_DB', 'Job type':'Job_Type', 'Job title':'Job_Title', 'Do you manage other staff?':'Manager', 'Is your college degree computer-related?':'CS_Degree', 'Do you hold industry certifications?':'Certifications', 'How many hours do you work per week?':'Hours_Worked_Per_Week', 'Number of days do you work from home?':'Days_WFH', 'Employer sector':'Employer_Sector', 'Are you looking for another job right now?':'Job_Search', 'What are your career plans for the year 2018?':'Career_Plan_CurrentYear', 'To which gender do you most identify?	Other job ':'Gender', 'Other job duties':'Other_Duties', 'What kinds of work do you do?':'Primary_Role'}, inplace = True)

In [40]:
sss

,TStamp,Salary,Country,Zipcode,Primary_DB,Pdb_YearsExp,Other databases,Job_Type,Job_Title,Manager,...,CS_Degree,Certifications,Hours_Worked_Per_Week,Days_WFH,Employer_Sector,Job_Search,Career_Plan_CurrentYear,To which gender do you most identify?,Other_Duties,Primary_Role
0,12/10/2017 12:44,115000,United States,84095,Microsoft SQL Server,15,"MySQL/MariaDB, Elasticsearch",Full time employee,DBA (General - splits time evenly between writ...,No,...,No,"Yes, and they're currently valid",40,"None, or less than 1 day per week",Private business,No,"Stay with the same employer, same role",Male,"DBA (Development Focus - tunes queries, indexe...","Build scripts & automation tools, Manual tasks..."
1,12/10/2017 22:03,95000,Australia,7000,Microsoft SQL Server,10,"Microsoft SQL Server, Microsoft Access, Azure ...",Full time employee of a consulting/contracting...,DBA (General - splits time evenly between writ...,No,...,Yes,"No, I never have",37,"None, or less than 1 day per week",State/province government,"Yes, but only passively (just curious)",Prefer not to say,Male,DBA (General - splits time evenly between writ...,"Build scripts & automation tools, Manual tasks"
2,12/11/2017 2:28,60000,Spain,28080,Microsoft SQL Server,10,"Microsoft SQL Server, Oracle, MySQL/MariaDB, P...",Full time employee of a consulting/contracting...,DBA (General - splits time evenly between writ...,No,...,Yes,"Yes, and they're currently valid",50,3,Private business,No,"Stay with the same employer, same role",Male,"Architect, DBA (Development Focus - tunes quer...","Build scripts & automation tools, Manual tasks..."
3,12/11/2017 8:00,49000,United States,75904,Microsoft SQL Server,5,"MySQL/MariaDB, MongoDB, DB2, Microsoft Access",Full time employee,DBA (General - splits time evenly between writ...,No,...,NaN,"Yes, and they're currently valid",45,"None, or less than 1 day per week",Private business,No,"Stay with the same employer, same role",Male,Developer: T-SQL,"Build scripts & automation tools, Manual tasks..."
4,12/11/2017 8:52,156000,United States,1463,Microsoft SQL Server,20,"Microsoft Access, Azure SQL DB, Hadoop",Full time employee,Architect,No,...,No,"Yes, and they're currently valid",40,3,Private business,No,"Stay with the same employer, but change roles",Male,NaN,"Meetings & management, Training/teaching"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3109,1/6/2018 14:09,160000,United States,94063,MySQL/MariaDB,8,"Cassandra, Redis, Amazon RDS (any flavor)",Full time employee,"Developer: App code (C#, JS, etc)",No,...,No,"Yes, but they expired",45,1,Private business,No,"Stay with the same employer, same role",Male,Architect,"Meetings & management, On-call as part of a ro..."
3110,1/6/2018 15:07,50000,France,33000,Microsoft SQL Server,8,Microsoft SQL Server,Full time employee,DBA (General - splits time evenly between writ...,Yes,...,NaN,"Yes, and they're currently valid",39,"None, or less than 1 day per week",Private business,"Yes, but only passively (just curious)","Stay with the same employer, same role",Male,"Architect, Developer: Business Intelligence (S...","Build scripts & automation tools, Meetings & m..."
3111,1/7/2018 0:46,119000,United States,15234,Microsoft SQL Server,18,"Microsoft SQL Server, Oracle, Amazon RDS (any ...",Full time employee of a consulting/contracting...,Developer: T-SQL,Yes,...,Yes,"Yes, and they're currently valid",50,1,Private business,No,"Stay with the same employer, same role",Male,"DBA (Development Focus - tunes queries, indexe...","Build scripts & automation tools, Manual tasks..."
3112,1/7/2018 9:48,65000,Greece,NaN,Microsoft SQL Server,13,None,Full time employee,Manager,Yes,...,No,"No, I never have",45,"None, or less than 1 day per week",Private business,"Yes, but only passively (just curious)","Stay with the same employer, but change roles",Male,"Architect, DBA (General - splits time evenly b...","Meetings & management, On-call 24/7/365, Projects"
3113,3/20/2018 11:42,117000,United States,80132,Microsoft SQL Server,12,None,Full time employee,DBA (Production Focus - build & troubleshoot s...,Yes,...,Yes,"No, I never have",45,5 or more,Private business,"Yes, but only passively (just curious)","Stay with the same employer, but change roles",Female,Manager,"Manual tasks, Meetings & management, On-call a..."